*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
overflow-x: hidden;
}
/* Hide scrollbar for WebKit browsers */
.hide-scrollbar::-webkit-scrollbar {
    display: none;
  }
  
  /* Hide scrollbar for IE, Edge, and Firefox */
  .hide-scrollbar {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }
  

  /* In your global CSS file, e.g., App.css or styles.css */
@media print {
  #resumeContent {
    font-size: 0.75rem; /* Reduce font size specifically for PDF */
  }
}
.small-font {
  font-size: 0.75rem;
}

@keyframes dotFlashing {
  0% {
    opacity: 1;
  }
  50%,
  100% {
    opacity: 0;
  }
}

.loading-dots span {
  display: inline-block;
  margin-right: 4px;
  font-size: 18px;
  animation: dotFlashing 1s infinite linear alternate;
}

.loading-dots span:nth-child(2) {
  animation-delay: 0.2s;
}

.loading-dots span:nth-child(3) {
  animation-delay: 0.4s;
}
